<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.evision.dosage.mapper.PermissionMapper">

    <sql id="Base_Column_List">
        permission_id,
        permission_content,
        valid,
        creat_time,
        update_time
    </sql>

    <insert id="insertPermission" parameterType="com.evision.dosage.pojo.entity.user.PermissionEntity">
        INSERT permission (
        <include refid="Base_Column_List"/>
        ) VALUES (
        #{permissionId},
        #{permissionContent},
        #{valid},
        sysdate(),
        sysdate()
        )
    </insert>
    <delete id="deletePermission" >
        DELETE permission
        where permission_id = #{permissionId}
    </delete>
    <select id="quaryId" resultType="int">
        select permission_id
        from permission
        where permission_content = #{permissionContent}
    </select>
    <select id="quaryContent" resultType="String">
        select permission_content
        from permission
        where permission_id = #{permissionId}
    </select>
</mapper>