<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.evision.dosage.mapper.PubIntegratedLevelMapper">
    <resultMap id="BaseResultMap" type="com.evision.dosage.pojo.entity.PubIntegratedLevel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="annual_measurement" property="annualMeasurement" jdbcType="REAL"/>
        <result column="proportion" property="proportion" jdbcType="REAL"/>
        <result column="collective_dosage" property="collectiveDosage" jdbcType="REAL"/>
        <result column="disabled" property="disabled" jdbcType="INTEGER"/>
        <result column="deleted" property="deleted" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="orders" property="orders" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectAll" resultType="com.evision.dosage.pojo.entity.PubIntegratedLevel">
        select
         *
        from pub_integrated_level where disabled = #{disabled}
        <choose>
            <when test="deleted==null or deleted==0">
                and deleted = #{deleted}
            </when>
            <otherwise>
                or deleted = #{deleted}
            </otherwise>
        </choose>
        order by orders asc
    </select>

    <select id="selectHistory" resultType="com.evision.dosage.pojo.entity.PubIntegratedLevel">
        select
         *
        from pub_integrated_level where deleted = #{deleted} and disabled = #{disabled} and orders = #{orders} order by orders asc
    </select>
    <select id="getDataById" resultMap="BaseResultMap">
        SELECT * FROM pub_integrated_level
        WHERE id = #{id}
    </select>

</mapper>