<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.evision.dosage.mapper.PubSubwayRadonConcentrationMapper">
    <resultMap id="BaseResultMap" type="com.evision.dosage.pojo.entity.PubSubwayRadonConcentrationEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="subway_name" property="subwayName" jdbcType="VARCHAR"/>
        <result column="avg_radon_concentration" property="avgRadonConcentration" jdbcType="REAL"/>
        <result column="uncertainty" property="collectiveDosage" jdbcType="REAL"/>
        <result column="disabled" property="disabled" jdbcType="INTEGER"/>
        <result column="deleted" property="deleted" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectAll" resultType="com.evision.dosage.pojo.entity.PubSubwayRadonConcentrationEntity">
        select
         *
        from pub_subway_radon_concentration where disabled = #{disabled}
        <choose>
            <when test="deleted==null or deleted==0">
                and deleted = #{deleted}
            </when>
            <otherwise>
                or deleted = #{deleted}
            </otherwise>
        </choose>
    </select>

    <select id="selectHistory" resultType="com.evision.dosage.pojo.entity.PubSubwayRadonConcentrationEntity">
        select
         *
        from pub_subway_radon_concentration where deleted = #{deleted} and disabled = #{disabled} and subway_name = #{subwayName}
    </select>

</mapper>